
{% extends 'base.html' %}
{% block content %}
<h1>List of all blogposts</h1>
{% for one_topic in all_topics %}
<div style="color:red; text-align: center;"> Topic:   <b>{{one_topic}} </b></div>
    {% for one_blog in blogposts %}
        {% if one_topic ==  one_blog.topics.get %}
            <div>
                <p> <b> {{one_blog.title}} </b>
                <a href="{% url 'get_blog' one_blog.slug %}"> READ.  </a>
                  Автор: {{one_blog.author}}
                </p>
                <p> {{one_blog.text|truncatechars:120}}
                </p>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}
